@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: linear-gradient(145deg,#00030e 50%,#03132b 90%,#03142f 100%);
  background-repeat: no-repeat;
}

.rc-pagination li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 2px;
}